<form class="form-inline" method="post">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputSearch" class="sr-only">Password</label>
    <input name="keyWord" type="text" class="form-control" id="inputSearch" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>